.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  min-height: 100vh;
  width: 100%; /* Full width */
}

app-image-container,
app-price-display {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px; /* Force both to match this width */
}
